In [ ]:
import pandas as pd

In [64]:
x = int(input("Please enter a non-negative integer: "))
even = []
odd = [ ]
fibo = [0, 1]
if x <= 0:
  (print("The integer you entered is less than 0"))
else: 
 for i in range(x):
  even.append(2*i)
  odd.append(2*i+1)
  if i > 1: fibo.append(fibo[i-2]+fibo[i-1])

Please enter a non-negative integer: 10

In [65]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [66]:
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [67]:
fibo

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [68]:
len(even) == len(odd) == len(fibo)

True

In [69]:
summary_dict = {'Even':even, 'Odd':odd, 'Fibbonacci':fibo}

summary_df = pd.DataFrame (data = summary_dict)

from google.colab import data_table
data_table.DataTable(summary_df)